@import url(https://fonts.googleapis.com/css?family=Raleway:700);
@import url(https://fonts.googleapis.com/css?family=Raleway:500);

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
html, body{
    height: 100%;
}

.header a {
	color: white;
}
.header h1 {
	color: white;
}
.header {
	background-color: #93da93;
	width: 100%;
	color: white;
	padding: 25px 50px;
	font-family: OpenSans;
	font-size: 20px;
}
header {
	background: linear-gradient(rgba(147,218,147,.8), rgba(42,0,189,1));
	height: auto;
	padding: 25px 50px;
	font-family: OpenSans;
	font-weight: 300;

}
.header-blurb {
	display: inline;
}

.header-blurb h1 {
	color: white;
	font-family: OpenSans;
	font-weight: 700;
	font-size: 42px;
}
.header-blurb small {
	color: rgba(255,255,255, .8);
	font-size: 24px;
	font-weight: 300;
}
.su {
	text-align: right;
}
header a {

	margin-left: 20px;
	display: inline;
}
header h3 {
}
.map {
	height: 400px;
	background-image: url(../images/map.png);
	background-repeat: no-repeat;
	background-position: center;
}
section.collections {
	background-color: rgba(128,45,45, .1);
	padding: 25px 50px;
}
.collections .row .col-sm-4 {
	box-shadow: 0 0 5px rgba(0,0,0,.5);	
	background-color: white;
}
.collections .row .sm-map {
	width: auto;
	height: 100px;
	background-color: white;
}
section.users {
	background-color: rgba(45,45,128, .1);
	padding: 25px 50px;
}
.users h2 {
	text-align: center;
}
.collections h2 {
	text-align: center;
}
.users .col-xs-4 {
	box-shadow: 0 0 5px rgba(0,0,0,.5);
	background-color: white;
	padding: 10px;
}
.users .img {
	background-color: white;
	width: 100px;
	height: 100px;
}
footer {
	background-color: rgba(45,128,45, .1);
 	bottom: -100px;
 	height: 100px;
	text-align: center;
	padding: 25px 20px;
	color:rgb(168, 168, 168);
}
footer .col-xs-9 {
	text-align: right;
}
.contain {
	/*max-width: 960px;*/
}
.padded {
	padding: 25px 40px;
}