{% extends "base.html" %}
{% block content %}
<div class="info padded">
<p>Dotis is a motivator for donations. Alternatively pronounced "DO THIS".</p>

<p>Sometimes it's hard to find the free time to make a donation to your local charity, especially when the amount of clothes, books, or food to donate is a seemingly insignificant amount. </p>
<p>It's in these moments that we fail to realize that any act of giving matters for those in need in our local communities. 
<p>
Dotis is a web service that motivates members of the community to take action into their own hands by aggregating donations. Users can choose to volunteer their spare time and mileage to being a "collector". The collectors bridge this donation inaction, turning otherwise unwanted items into resources that can benefit a local charity. Our service will help them plan routes to best use their time for maximum social impact. </p>
<p>Donors can post their donations to the site to schedule a pickup, and financial donors can choose to pledge digital payments, joining in on a drive by tying their digital donation to a physical pickups and encouraging others on the site. </p>
<p>
Charities will be able to see the net estimated amounts of items and money being collected and raised for them, and will be able to recognize their most active donors and collectors. They will have an electronic record of what was donated. Collectors can even show their zeal to Uncle Sam every year and reap the benefit of keeping any tax receipts and deductions resulting from the aggregation of the donated goods!</p>

<p>We hope you share in our mission here at Dotis, and use our software to go out and DO THIS!</p>
</div>
{% endblock %}