<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet"/>
	  <script src="{{ STATIC_URL }}js/jquery-2.1.1.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet"/>
    <script src="{{ STATIC_URL }}js/main.js"></script> 
    <title>{% block title %}{{ title }}{% endblock %}</title>
	  <script src="{{ STATIC_URL }}js/fblogin.js"></script>

    <!-- set the global redirect url for later scripts -->
    <script>
        /* set redirect_url global if necessary */
        g_REDIRECT_URL = {% if redirect_url %}"{{ redirect_url }}"{% else %}NULL{% endif %};
    </script>
    {% block style %}{% endblock %}
</head>

<body>
<div class="mycontainer">
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <li id="resume_nav"><a href="/donation">Donation</a></li>
        <li id="projects_nav"><a href="/map">Map</a></li>
        <li id="projects_nav"><a href="">About</a></li>
      </ul>
      <h3 class="text-muted">Dotis</h3>
    </div>

        {% block content %}{% endblock %}
        <footer class="footer">
           Built with <span class="love">love</span> at BattleHack Boston 2014<br> Jon, Max, Wilson and Stella
         </footer>
    </div>
</body>
</html>

