<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet"/>
	<script src="{{ STATIC_URL }}js/jquery-2.1.1.min.js"></script>
	<script src="{{ STATIC_URL }}js/fblogin.js"></script>
    <title>{% block title %}{{ title }}{% endblock %}</title>

    <!-- set the global redirect url for later scripts -->
    <script>
        /* set redirect_url global if necessary */
        g_REDIRECT_URL = {% if redirect_url %}"{{ redirect_url }}"{% else %}NULL{% endif %};
    </script>
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog/">Blog</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>

