{% extends "base.html" %}
{% block style %}<link href="{{ STATIC_URL }}css/collections.css" rel="stylesheet"/>{% endblock %}
{% block title %}Browse Collections{% endblock %}
{% block content %}
<section class="collections padded">
		<div class="contain">
		<h2>Collections</h2>
			<div class="row">
			<div class="col-sm-4">
				<h3>Roxbury Clothes</h3>
				<p><b>$507</b> of <b>clothes, books, games</b></p>
				<div class="sm-map"></div>
				<p class="charity"><b>Charity: </b>Freedom Force Int'l</p>
				<p class="collector"><b>Collector: </b>Jorge S.</p>
				<p class="more">More</p>
			</div>
			<div class="col-sm-4">
				<h3>Roxbury Clothes</h3>
				<p><b>$507</b> of <b>clothes, books, games</b></p>
				<div class="sm-map"></div>
				<p class="charity"><b>Charity: </b>Freedom Force Int'l</p>
				<p class="collector"><b>Collector: </b>Jorge S.</p>
				<p class="more">More</p>
			</div>
			<div class="col-sm-4">
				<h3>Roxbury Clothes</h3>
				<p><b>$507</b> of <b>clothes, books, games</b></p>
				<div class="sm-map"></div>
				<p class="charity"><b>Charity: </b>Freedom Force Int'l</p>
				<p class="collector"><b>Collector: </b>Jorge S.</p>
				<p class="more">More</p>
			</div>
			</div>
			</div>
		</section>
{% endblock %}