{% extends "base.html" %}
{% block style %}<link href="{{ STATIC_URL }}css/collection.css" rel="stylesheet"/>{% endblock %}
{% block title %}{{ name }}{% endblock %}

{% block content %}
<div class="padded">
<h2>Roxbury Shoe Collection</h2>
<div class="row">
<div class="col-sm-6">
<div class="sm-map"></div>
</div>
<div class="col-sm-6">
<p>This is a description of the collection</p>
<p><b>$56</b> Pledged</p>
<div class="progress">
  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
    <span class="sr-only">40% Complete (success)</span>
  </div>
</div>
<p><b>$353</b> of <b>$500</b> collected</p>
</div>
</div>
</div>
<div class="padded">
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="BD9J3YLN5B3EJ">
<input type="submit" class="btn btn-lg btn-success"  border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" value="Pledge">

<button type="button" class="btn btn-lg btn-danger">Donate</button>
</form>
</div>
<div class="padded">
<h3>The Collector</h3>
<div class="users"><div class="col-xs-4">
				<div class="img"><img src=""></div>
				<p>*****</p>
				<p>$5334 Donated to 56 Collections</p>
				<p>56 miles driven to collect 23 collections Roxbury, MA</p>
			</div>
</div>
</div>
<div class="donorlist padded">
<h3>The donors</h3>
<table class="table">
<thead>
<th><h3><b>36</b> donors</h3></th>
<th><h4>Total: <b>$236</b></h4></th>
</thead>
<tr><td class="donorname">Humphrey J.</td><td class="donoramt">$42</td></tr>
<tr><td class="donorname">Kaitlin O.</td><td class="donoramt">$35</td></tr>
<tr><td class="donorname">Donald Z.</td><td class="donoramt">$22</td></tr>
</table>
</div>

</div>

{% endblock %}

{% block footer %}{% endblock %}