{% extends "base.html" %}

{% block static_includes %}
<link href="{{ STATIC_URL }}css/donation.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
<br/><br/>
<div class="container">
  <h3>Create Donation</h3>
  <form role="form" action="/donation" method="post">
  {% csrf_token %}
    <div class="form-group">
      <div class="row">
        <div class="col-xs-2"><label for="name">Name</label></div>
        <div class="col-xs-3"><input type="text" name="name" class="form-control" id="name" placeholder="Enter Donation Name"></div>
      </div>
      <div class="row">
        <div class="col-xs-2"><label for="weight">Weight (lbs)</label></div>
        <div class="col-xs-3"><input type="text" name="weight" class="form-control" id="weight" placeholder="Enter Weight"></div>
      </div> 
      <div class="row">
        <div class="col-xs-2"><label for="estimated_value">Estimated Value ($)</label></div>
        <div class="col-xs-3"><input type="text" name="estimated_value" class="form-control" id="estimated_value" placeholder="Enter Estimated Value"></div>
      </div> 
      <div class="row">
        <div class="col-xs-2"><label for="donation_type">Donation Type</label></div>
        <div class="col-xs-2">
          <select class="" id="donation_type" name="donation_type">
            <option value="0">Clothes</option>
            <option value="1">Furniture</option>
            <option value="2">Books</option>
          </select>
        </div>
      </div> 
      <div class="row">
        <div class="col-xs-2"><label for="item_count">Item Count</label></div>
        <div class="col-xs-3"><input type="text" name="item_count" class="form-control" id="item_count" placeholder="Enter Item Count"></div>
      </div> 
      <div class="row">
        <div class="col-xs-2"><label for="pickup_location">Pickup Location</label></div>
        <div class="col-xs-3"><input type="text" name="pickup_location" class="form-control" id="pickup_location" 
        placeholder="Enter Pickup Location"></div>
      </div> 
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

{% endblock %}