{% extends "base.html" %}

{% block title %}Home page{% endblock %}

{% block content %}
<header>
			<div class="header-blurb"><h1>We make donations effortless. <small>and help you earn tax breaks too. Lorb ipsum dolor blah etc etc.</small></h1></div>
			<div class="su"><h3><a href="#">Learn More</a><a class="btn btn-lg btn-success" href="#">Start giving</a></h3></div>
		</header>
		<section class="map">
			
		</section>
		<section class="collections">
		<div class="contain">
			<div class="row">
			<div class="col-sm-4">
				<h3>Roxbury Clothes</h3>
				<p><b>$507</b> of <b>clothes, books, games</b></p>
				<div class="sm-map"></div>
				<p class="charity"><b>Charity: </b>Freedom Force Int'l</p>
				<p class="collector"><b>Collector: </b>Jorge S.</p>
				<p class="more">More</p>
			</div>
			<div class="col-sm-4">
				<h3>Roxbury Clothes</h3>
				<p><b>$507</b> of <b>clothes, books, games</b></p>
				<div class="sm-map"></div>
				<p class="charity"><b>Charity: </b>Freedom Force Int'l</p>
				<p class="collector"><b>Collector: </b>Jorge S.</p>
				<p class="more">More</p>
			</div>
			<div class="col-sm-4">
				<h3>Roxbury Clothes</h3>
				<p><b>$507</b> of <b>clothes, books, games</b></p>
				<div class="sm-map"></div>
				<p class="charity"><b>Charity: </b>Freedom Force Int'l</p>
				<p class="collector"><b>Collector: </b>Jorge S.</p>
				<p class="more">More</p>
			</div>
			</div>
			</div>
		</section>
		<section class="users">
		<div class="contain">
		<div class="row">
			<div class="col-xs-4">
				<div class="img"><img src=""></div>
				<p>*****</p>
				<p>$5334 Donated to 56 Collections</p>
				<p>56 miles driven to collect 23 collections Roxbury, MA</p>
			</div>
			<div class="col-xs-4">
				<div class="img"><img src=""></div>
				<p>*****</p>
				<p>$5334 Donated to 56 Collections</p>
				<p>56 miles driven to collect 23 collections Roxbury, MA</p>
			</div>
			<div class="col-xs-4">
				<div class="img"><img src=""></div>
				<p>*****</p>
				<p>$5334 Donated to 56 Collections</p>
				<p>56 miles driven to collect 23 collections Roxbury, MA</p>
			</div>
			</div>
			</div>
		</section>
{% endblock %}
