{% extends "base.html" %}
{% block style %}<link href="{{ STATIC_URL }}css/login.css" rel="stylesheet"/>{% endblock %}
{% block title %}Login or Register{% endblock %}
{% block sidebar %}
{% endblock %}
{% block content %}
	<div class = "login">
	<h1> Login </h1> 
    <div class="loginform cf">
		<form name="login" action="/login" method="POST"  autocomplete="on" accept-charset="utf-8">  
		    {% csrf_token %}
            <ul>  
		        <li><label for="usermail">Email</label>  
		        <input type="email" name="usermail" placeholder="yourname@email.com" required></li>  
		        <li><label for="password">Password</label>  
		        <input type="password" name="password" placeholder="password" required></li>  
		        <li>  
		        <input type="submit" class="btn btn-lg btn-primary" value="Login"></li>
                <img id="fblogin-button" src="{{ STATIC_URL }}/images/facebook-login-button.png" onClick='fbLogin()'/>
                
                {% if redirect_url %}
                    <input type="hidden" name="redirect_url" value="{{redirect_url}}">
                {% endif %}
		    </ul>  
		</form>
		</div>
	<div class="loginform">
        <form name="login" action="/register" method="POST"  autocomplete="on" accept-charset="utf-8"> 
            {% csrf_token %}
            <h1> Or Sign up </h1> 
            <ul>
            <li>
                <label for="firstnamesignup" class="fname" data-icon="u">Your First Name</label>
                <input id="firstnamesignup" name="firstnamesignup" required="required" type="text" placeholder="first name" />
            </li>
            <li>
                <label for="lastnamesignup" class="lname" data-icon="u">Your Last Name</label>
                <input id="lastnamesignup" name="lastnamesignup" required="required" type="text" placeholder="last name" />
            </li>
            <li> 
                <label for="emailsignup" class="youmail" data-icon="e" > Your email</label>
                <input id="emailsignup" name="emailsignup" required="required" type="email" placeholder="name@email.com"/> 
            </li>
            <li> 
                <label for="passwordsignup" class="youpasswd" data-icon="p">Your password </label>
                <input id="passwordsignup" name="passwordsignup" required="required" type="password" placeholder="input password"/>
            </li>
            <li> 
                <label for="passwordsignup_confirm" class="youpasswd" data-icon="p">Please confirm your password </label>
                <input id="passwordsignup_confirm" name="passwordsignup_confirm" required="required" type="password" placeholder="confirm password"/>
            </p>
            
                <li><input type="submit"  class="btn btn-lg btn-danger" value="Sign up"/> </li>
            
            </ul>
        </form>
        </div>	
	</div>
{% endblock %}