{% extends "base.html" %}


{% block style %}
<link href="{{ STATIC_URL }}css/donation.css" rel="stylesheet"/>
<script src="{{ STATIC_URL }}js/donation.js"></script>
{% endblock %}

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Geocoding service</title>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/styledmarker/src/StyledMarker.js"></script>


    <div id="map-canvas"></div>

