{% extends "base.html" %}
{% block style %}<link href="{{ STATIC_URL }}css/login.css" rel="stylesheet"/>{% endblock %}
{% block content %}
<div class = "login">
    <div class="loginform">
        <form name="login" action="" method="get"  autocomplete="on" accept-charset="utf-8"> 
            <h1> Or Sign up </h1> 
            <ul>
            <li>
                <label for="usernamesignup" class="uname" data-icon="u">Your username</label>
                <input id="usernamesignup" name="usernamesignup" required="required" type="text" placeholder="username" />
            </li>
            <li> 
                <label for="emailsignup" class="youmail" data-icon="e" > Your email</label>
                <input id="emailsignup" name="emailsignup" required="required" type="email" placeholder="name@email.com"/> 
            </li>
            <li> 
                <label for="passwordsignup" class="youpasswd" data-icon="p">Your password </label>
                <input id="passwordsignup" name="passwordsignup" required="required" type="password" placeholder="input password"/>
            </li>
            <li> 
                <label for="passwordsignup_confirm" class="youpasswd" data-icon="p">Please confirm your password </label>
                <input id="passwordsignup_confirm" name="passwordsignup_confirm" required="required" type="password" placeholder="confirm password"/>
            </li>
                <li><input type="submit"  class="btn btn-lg btn-danger" value="Sign up"/> </li>
            
            </ul>
        </form>
    </div>  
</div>
<img id="fblogin-button" src="{{ STATIC_URL }}/images/facebook-login-button.png" onClick='fbLogin()'/>
{% endblock %}