{% extends "base.html" %}
{% block style %}<link href="{{ STATIC_URL }}css/users.css" rel="stylesheet"/>{% endblock %}
{% block title %}Users{% endblock %}
{% block content %}
<section class="users">
		<div class="contain">
		<h2>Donors</h2>
		<div class="row">
			<div class="col-xs-4">
				<div class="img"><img src=""></div>
				<p>*****</p>
				<p>$5334 Donated to 56 Collections</p>
				<p>56 miles driven to collect 23 collections Roxbury, MA</p>
			</div>
			<div class="col-xs-4">
				<div class="img"><img src=""></div>
				<p>*****</p>
				<p>$5334 Donated to 56 Collections</p>
				<p>56 miles driven to collect 23 collections Roxbury, MA</p>
			</div>
			<div class="col-xs-4">
				<div class="img"><img src=""></div>
				<p>*****</p>
				<p>$5334 Donated to 56 Collections</p>
				<p>56 miles driven to collect 23 collections Roxbury, MA</p>
			</div>
			</div>
			</div>
		</section>
{% endblock %}